<div>
  <link href="./navigation-links5.css" rel="stylesheet" />
  <nav class="navigation-links5-nav">
    <a href="index.html" class="navigation-links5-navlink"><span>Home</span></a>
    <a href="news.html" class="navigation-links5-navlink1"><span>News</span></a>
    <a href="about-us.html" class="navigation-links5-navlink2">
      <span>About Us</span>
    </a>
    <a href="contact-us.html" class="navigation-links5-navlink3">
      <span>Contact Us</span>
    </a>
    <a href="registration.html" class="navigation-links5-navlink4">
      <span>Registration</span>
    </a>
  </nav>
</div>
